@model AllLibraryModels
@{
    Layout = null;
   
}
<!DOCTYPE html>
<html>
<head>
    <title>Cotalog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />
    <style>
        .custom-table-responsive {
            height: 600px;
            overflow-y: scroll;
        }

        .table-header {
            position: sticky;
            top: 0;
            background-color: white;
        }
    </style>
</head>
<body>
    <div class="content">
        <div class="container">
            <h2 class="mb-5">Каталог</h2>
            <form method="post" action="/Home/DeleteBibliographicmaterial">

                <input type="button" value="Удалить автора" onclick="openAuthorModal()" />
            </form>

            <div id="authorModal" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeAuthorModal()">&times;</span>
                    <h2>Выберите автора для удаления</h2>
                    <form id="authorSelectionForm" method="post" action="/Home/DeleteAuthor">
                        @foreach (var material in Model.AllAuthors)
                        {
                            <label>
                                <input type="radio" name="idAuthor" value="@material.Id"> @material.FullName
                            </label>
                        }
                        <input type="submit" value="Удалить выбранного автора" />
                    </form>
                </div>
            </div>
            <form method="post" action="/Home/DeleteBibliographicmaterial">

                <input type="button" value="Удалить издательство" onclick="openPublisherModal()" />
            </form>

            <div id="publisherModal" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closePublisherModal()">&times;</span>
                    <h2>Выберите издательство для удаления</h2>
                    <form id="publisherSelectionForm" method="post" action="/Home/DeletePublisher">
                        @foreach (var material in Model.AllPublishers)
                        {
                            <label>
                                <input type="radio" name="idPublisher" value="@material.Id"> @material.Name
                            </label>
                        }
                        <input type="submit" value="Удалить выбранное издательство" />
                    </form>
                </div>
            </div>


           
            <form method="post" action="/Home/CatalogAdmin">
                <div class="table-responsive custom-table-responsive">
                  
                    <table class="table custom-table">
                        
                           
                        
                        <thead>
                            <tr class="table-header">
                                 <tr class="table-header">
              
                                <th scope="col">
                                    Название <input type="text" class="form-control" name="nameBibliographicmaterial">  
                                    <input type="radio" name="SortBy.SortNameBibliographicmaterial" value="true"> с начала
                                    <input type="radio" name="SortBy.SortNameBibliographicmaterial" value="false"> с конца
                                </th>
                                <th scope="col">Автор<input type="text" class="form-control" name="nameAuthor">
                                    <input type="radio" name="SortBy.SortNameAuthor" value="true"> с начала
                                    <input type="radio" name="SortBy.SortNameAuthor" value="false"> с конца
                                </th>
                                <th scope="col">Издательство<input type="text" class="form-control" name="namePublisher">
                                    <input type="radio" name="SortBy.SortNamePublisher" value="true"> с начала
                                    <input type="radio" name="SortBy.SortNamePublisher" value="false"> с конца
                                </th>
                                <th scope="col">Год издания<input type="text" class="form-control" name="date">
                                    <input type="radio" name="SortBy.SortDate" value="true"> с начала
                                    <input type="radio" name="SortBy.SortDate" value="false"> с конца
                                </th>

                            </tr>
                        </thead>


                        <tbody>
                            @foreach (var material in Model.AllBibliographicmaterial)
                            {

                                <tr scope="row" onclick="submitForm('@material.Id')">
                                    <td>@material.Name</td>
                                    <td>@material.Author.FullName</td>
                                    <td>@material.Publisher.Name</td>
                                    <td>@material.Date</td>

                                </tr>
                                <tr class="spacer"><td colspan="100"></td></tr>
                            }
                        </tbody>
                  



                    </table>
                </div>
                <input type="submit" value="search" />
            </form>
        </div>

        <canvas></canvas>
        <script>
            var booksData = @Html.Raw(ViewBag.JsonBooks);

        </script>
        <script type="module" src="~/js/StartingRender.js"></script>
        <script type="module" src="~/js/InfoBook.js"></script>
       @*  <script type="module" src="~/js/correctPage/TextWork.js"></script>
        <script type="module" src="~/js/correctPage/texture.js" ></script> *@
      
        <form id="myForm" method="post" action="/Home/PageBibliographicmaterialAdmin">
            <input type="hidden" id="materialId" name="materialId" value="" />
        </form>

        <form method="get" action="/Home/CreatePageBibliographicmaterialAdmin">
            <input type="submit" value="Add" />
        </form>

        <form method="post" action="/Registration/Next">
            <input type="submit" value="return" />
        </form>

    </div>
    <script src="~/js/bootstrap.min.js"></script>
    <script>
        function submitForm(materialId) {
            document.getElementById('materialId').value = materialId;
            document.getElementById('myForm').submit();
        }
    </script>
    <script>
function openAuthorModal() {
  document.getElementById("authorModal").style.display = "block";
}

function closeAuthorModal() {
  document.getElementById("authorModal").style.display = "none";
}

// Закроет модальное окно по клику вне области модального окна
window.onclick = function(event) {
  if (event.target === document.getElementById("authorModal")) {
    document.getElementById("authorModal").style.display = "none";
  }
}
</script>
    <script>
        function openPublisherModal() {
            document.getElementById("publisherModal").style.display = "block";
        }

        function closePublisherModal() {
            document.getElementById("publisherModal").style.display = "none";
        }

        // Закроет модальное окно по клику вне области модального окна
        window.onclick = function (event) {
            if (event.target === document.getElementById("publisherModal")) {
                document.getElementById("publisherModal").style.display = "none";
            }
        }
    </script>
</body>
</html>