@model AllLibraryModels

<!DOCTYPE html>
<html>
<head>
    <title>Cotalog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />
    <style>
        .custom-table-responsive {
            height: 600px;
            overflow-y: scroll;
        }

        .table-header {
            position: sticky;
            top: 0;
            background-color: white;
        }
/*    /*      body{
            background-color: #29003d;
        }  */

       

        .inputtype {
            border-radius: 10px; /* Закругление углов */
            background: linear-gradient(180deg, rgba(104, 63, 97, 0.9) 0%, rgba(55, 41, 82, 0.8) 100%);
            color: white; /* Белый текст */
            border: 1px solid white; /* Граница - темный фиолетовый */
            padding: 10px 20px; /* Отступы внутри кнопки */
            font-size: 16px; /* Размер шрифта */
            cursor: pointer; /* Изменяем вид курсора */
        }

            .inputtype:hover {
                background-color: #483D8B; /* Изменяем цвет при наведении */
            }
    
        
    </style>
</head>
<body>
    <div class="content">
        <div class="container">
           
            <form method="post" action="/Home/Catalog">
            <div class="table-responsive custom-table-responsive">
                    
                <table class="table custom-table">

                        <thead>
                            <tr class="table-header">
                            <tr class="table-header">

                                <th scope="col">
                                    Название <input type="text" class="form-control" name="nameBibliographicmaterial">
                                    <input type="radio" name="SortBy.SortNameBibliographicmaterial" value="true"> с начала
                                    <input type="radio" name="SortBy.SortNameBibliographicmaterial" value="false"> с конца
                                </th>
                                <th scope="col">
                                    Автор<input type="text" class="form-control" name="nameAuthor">
                                    <input type="radio" name="SortBy.SortNameAuthor" value="true"> с начала
                                    <input type="radio" name="SortBy.SortNameAuthor" value="false"> с конца
                                </th>
                                <th scope="col">
                                    Издательство<input type="text" class="form-control" name="namePublisher">
                                    <input type="radio" name="SortBy.SortNamePublisher" value="true"> с начала
                                    <input type="radio" name="SortBy.SortNamePublisher" value="false"> с конца
                                </th>
                                <th scope="col">
                                    Год издания<input type="text" class="form-control" name="date">
                                    <input type="radio" name="SortBy.SortDate" value="true"> с начала
                                    <input type="radio" name="SortBy.SortDate" value="false"> с конца
                                </th>

                            </tr>
                        </thead>
                  

                    <tbody>
                        @foreach (var material in Model.AllBibliographicmaterial)
                        {

                                <tr scope="row" onclick="submitForm('@material.Id') ">
                                <td>@material.Name</td>
                                <td>@material.Author.FullName</td>
                                <td>@material.Publisher.Name</td>
                                <td>@material.Date</td>
                              
                            </tr>
                            <tr class="spacer"><td colspan="100"></td></tr>
                        }
                    </tbody>
                        

                       
                </table>
            </div>
                <input  class = "inputtype" type="submit" value="Поиск" />
            </form>
        </div>
        <form id="myForm" method="post" action="/Home/PageBibliographicmaterial">
            <input type="hidden" id="materialId" name="materialId" value="" />
        </form>
        @if (false)
        {
            <form method="post" action="/Registration/Next">
                <input class="inputtype"  type="submit" value="Add" />
        </form>}

    </div>

  
    <script src="~/js/bootstrap.min.js"></script>
    <script>
        function submitForm(materialId) {
            document.getElementById('materialId').value = materialId;
            document.getElementById('myForm').submit();
        }
    </script>

</body>
</html>