@model AllLibraryModels
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Cotalog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />
    <style>
        .custom-table-responsive {
            height: 600px;
            overflow-y: scroll;
        }

        .table-header {
            position: sticky;
            top: 0;
            background-color: white;
        }
    </style>
</head>
<body>
    <div class="content">
        <div class="container">
            <h2 class="mb-5">Каталог</h2>
            <form method="post" action="/Home/Catalog">
            <div class="table-responsive custom-table-responsive">
                    <input type="radio" name="sortBy" value="true"> с начала
                    <input type="radio" name="sortBy" value="false"> с конца
                <table class="table custom-table">
                      
                        <thead>
                        <tr class="table-header">
                                <th scope="col">Название <input type="text" class="form-control" name="nameBibliographicmaterial"></th>
                                <th scope="col">Автор<input type="text" class="form-control" name="nameAuthor"></th>
                                <th scope="col">Издательство<input type="text" class="form-control" name="namePublisher"></th>
                                <th scope="col">Год издания<input type="text" class="form-control" name="date"> </th>

                        </tr>
                    </thead>
                  

                    <tbody>
                        @foreach (var material in Model.AllBibliographicmaterial)
                        {

                                <tr scope="row" onclick="submitForm('@material.Id')">
                                <td>@material.Name</td>
                                <td>@material.Author.FullName</td>
                                <td>@material.Publisher.Name</td>
                                <td>@material.Date</td>
                              
                            </tr>
                            <tr class="spacer"><td colspan="100"></td></tr>
                        }
                    </tbody>
                        

                       
                </table>
            </div>
                <input type="submit" value="search" />
            </form>
        </div>
        <form id="myForm" method="post" action="/Home/PageBibliographicmaterial">
            <input type="hidden" id="materialId" name="materialId" value="" />
        </form>
        @if (false)
        {
            <form method="post" action="/Registration/Next">
                <input type="submit" value="Add" />
        </form>}

    </div>
    <script src="~/js/bootstrap.min.js"></script>
    <script>
        function submitForm(materialId) {
            document.getElementById('materialId').value = materialId;
            document.getElementById('myForm').submit();
        }
    </script>
</body>
</html>