@model AllLibraryModels;
@{
    Layout = null;
   
}
<!DOCTYPE html>
<html>
<head>
    <title>Cotalog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <style>
        .custom-table {
            display: flex;
            flex-direction: column;
        }

    </style>

    <div class="table-responsive custom-table-responsive">
        <form  method="post" action="/Home/PageBibliographicmaterialAdminRedaction">
            @foreach (var material in Model.AllBibliographicmaterial)
            {
                <tr scope="row">
                    <td>
                        <div class="d-flex align-items-start">
                            <div>
                                <div style="margin:40px;">
                                    <span>Название: @material.Name</span>
                                    <input type="text" class="form-control" name="Name">
                                </div>
                                <div style="margin:40px;">
                                    <span>Автор: @material.Author.FullName</span>
                                    <p>
                                        <select name="AuthorId" >
                                            <option value="">Выберите автора</option>
                                            @foreach (var author in Model.AllAuthors)
                                            {
                                                <option value="@author.Id">@author.FullName</option>
                                            }
                                        </select>
                                    </p>

                                </div>

                                <div style="margin:40px;">
                                    <span>Издательство: @material.Publisher.Name</span>
                                    <p>
                                        <select name="PublisherId">
                                            <option value="">Выберите издательство</option>
                                            @foreach (var publisher in Model.AllPublishers)
                                            {
                                                <option value="@publisher.Id">@publisher.Name</option>
                                            }
                                        </select>
                                    </p>
                                </div>
                                <div style="margin:40px;">
                                    <span>Год издания: @material.Date</span>
                                    <input type="text" class="form-control" name="Date">
                                </div>
                                <div style="margin:40px;">
                                   
                                    <input type="hidden" name="Id" value="@material.Id">
                                </div>
                            </div>
                            <div class="ml-auto">
                                <img src="~/img/@material.Img" alt="Изображение" style="width: 400px; height: auto;" />
                                <div style="margin:40px;">
                                    <span>Издательство: @material.Publisher.Name</span>
                                    <p>
                                        <select name="Img">
                                            <option value="">Выберите Обложку</option>
                                            @foreach (var books in Model.AllImgs)
                                            {
                                                <option value="@books.Img">@books.Img</option>
                                            }
                                        </select>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
            <input  type="submit" value=" Отправить">
        </form>
        <form method="get" action="/Home/InsertPublisher">
            <input type="submit" value="Добавить Издательство" />
        </form>
        <form method="get" action="/Home/InsertAuthor">
            <input type="submit" value="Добавить Автора" />
        </form>
        <form method="post" action="/Home/DeleteBibliographicmaterial">
              @foreach (var material in Model.AllBibliographicmaterial)
            {
                <input type="hidden" name="idBibliographicmaterial" value="@material.Id">
            }
            <input type="submit" value="Удалить запись" />
        </form>
       
       

        <button onclick="openPublisherModal()">Изменить Издательство</button>

        <div id="publisherModal" class="modal">
            @foreach (var material in Model.AllBibliographicmaterial)
            {
                <form class="modal-content" method="post" action="/Home/PageBibliographicmaterialAdminRedactionPublisher">
                <input type="hidden" name="Id" value="@material.Publisher.Id">
                <div class="container">
                    <label for="namePublisher"><b>Название Издательства</b></label>
                    <input type="text" placeholder="Название Издательства" name="Name" >
                    <label for="contactsPublisher"><b>Контакты</b></label>
                        <input type="text" placeholder="Контакты" name="Contacts">
                    <label for="addressPublisher"><b>Адрес</b></label>
                        <input type="text" placeholder="Адрес" name="Address">

                    <button type="submit">Отправить</button>
                </div>
                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" onclick="closePublisherModal()" class="cancelbtn">Отмена</button>
                </div>
            </form>
            }
        </div>
   
        <button onclick="openAuthorModal()">Изменить Автора</button>

        <div id="authorModal" class="modal">
              @foreach (var material in Model.AllBibliographicmaterial)
            {
            <form class="modal-content" method="post" action="/Home/PageBibliographicmaterialAdminRedactionAuthor">
                <input type="hidden" name="Id" value="@material.Author.Id">
                <div class="container">
                    <label for="nameAuthor"><b>Имя Автора</b></label>
                    <input type="text" placeholder="Имя Автора" name="FullName" >
                    <label for="contactsAuthor"><b>Контакты</b></label>
                        <input type="text" placeholder="Контакты" name="Contacts">
                    <label for="informationdAuthor"><b>Информация</b></label>
                        <input type="text" placeholder="Информация" name="Information">

                    <button type="submit">Отправить</button>
                </div>
                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" onclick="closeAuthorModal()" class="cancelbtn">Отмена</button>
                </div>
            </form>
            }
        </div>
       
    </div>

    <form method="post" action="/Home/CatalogAdmin">
        <input type="submit" value="return" />
    </form>
    <script>
        function openAuthorModal() {
            document.getElementById("authorModal").style.display = "block";
        }

        function closeAuthorModal() {
            document.getElementById("authorModal").style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target === document.getElementById("authorModal")) {
                document.getElementById("authorModal").style.display = "none";
            }
        }
    </script>
    <script>
        function openPublisherModal() {
            document.getElementById("publisherModal").style.display = "block";
        }

        function closePublisherModal() {
            document.getElementById("publisherModal").style.display = "none";
        }

   
        window.onclick = function (event) {
            if (event.target === document.getElementById("publisherModal")) {
                document.getElementById("publisherModal").style.display = "none";
            }
        }
    </script>
</body>
</html>
